.root {
	font-size: 100%;
	box-sizing: border-box;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	
}

.card__background > * {
	min-width: 100vw;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

.card {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	line-height: 1.3;
	display: flex;
	flex-direction: row-reverse;
	
}

.__box {
	min-width: 300px;
	width: 40%;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.card__fa-regular {
	font-size: 60px;
	color: blue;
	display: flex;
	justify-content: center;
}

.card__login {
	font-size: 50px;
	color: blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 150px 25px 25px 25px;
}
.card__email_animation {
	position: relative;
}
.card__pass_animation {
	position: relative;
}
.card__animation_input {
	border: none;
	border-bottom: 2px solid rgb(255, 255, 255);
	outline: none;
	font-size: 1em;
	color: blue;
	min-width: 60vmin;
}
.card__animation_label {
	position: absolute;
	left: 0;
	color: rgb(79, 42, 171);
	transform-origin: 0 0;
	transition: transform 0.2s ease-in-out;
}
.card__animation_input:focus + .card__animation_label,
.card__animation_input:not(:placeholder-shown) + .card__animation_label {
	transform: translateY(-1em) scale(0.8);
}

.card__enter_email {
	width: 90%;
	border-radius: 10px;
	padding: 4px 4px;
	line-height: 2;
	margin: 8px 0 15px 0;
	display: flex;
	align-self: center;
	border: 2px solid rgb(40, 24, 187);
}

.card__enter_password {
	width: 90%;
	border-radius: 10px;
	padding: 4px 4px;
	line-height: 2;
	margin: 8px 0 15px 0;
	display: flex;
	align-self: center;
	border: 2px solid rgb(40, 24, 187);
}

.card__pass_save {
	display: inline-flex;
	flex-direction: row-reverse;
}

.card__label_pass {
	display: flex;
	flex-direction: column;
	margin: 4px 4px 0 0;
}

.card__pass_check {
	margin: 4px 4px 0 0;
	cursor: pointer;
}

.card__btn_sign {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card__button {
	background: #15ae5a;
	padding: 0;
	border: none;
	font-size: 15px;
	color: white;
	height: 50px;
	width: 90%;
	align-self: center;
	cursor: pointer;
	transition: background 0.5s ease-out;
}

.card__login_forgot {
	margin: 20px 30px 0 30px;
	display: flex;
	justify-content: space-between;
}
.card__copyright {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
@media screen and (min-width: 600px) {
	.box {
		min-width: 200px;
		width: 60%;
	}
}
@media screen and (min-width: 900px) {
	.box {
		min-width: 350px;
		width: 100%;
	}
}
@media screen and (min-width: 1200px) {
	.box {
		min-width: 500px;
		width: 40%;
	}
}
@media screen and (max-width: 600px) {
	.box {
		width: 100%card
	}
}